@import '~bulma';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#wrapper {
  flex: 1;
}

li {
  list-style: none;
}

a {
  color: #3273dc;
}

.hero.is-info {
  background-image: linear-gradient( 135deg, #52E5E7 0%, #130CB7 100%);
}

.section.main {
  background-color: #F0F0F0;
}

.panel-block.section p {
  width: 100%;
  font-size: 17px;
  line-height: 1.4;
  color: #95A5A6;
}

.columns {
  flex-wrap: wrap;
}

.icon-block {
  font-size: 5em !important;
}

.hero-logo {
  font-size: 5em !important;
}

.trade-buttons {
  margin-top: 3em;
}

.book-actions {
  background-color: rgba(0, 0, 0, .1);
  color: gray;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.book-actions i {
  text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.book-actions .book-delete {
  color: red;
}

.book-actions .book-trade {
  color: #3273dc;
}

.box {
  padding: 0.2rem;
}

.content:not(:last-child) {
  margin-bottom: 0;
}
