extends layout

block content
  section.hero.is-info
    .hero-body
      .container.has-text-centered
        .columns.is-vcentered
          .column
            h1.title.hero-logo SwapBooks
            h2.subtitle Trade books and learn a lot.
            h1.title.hero-logo
              i.fa.fa-book(aria-hidden='true')
