doctype html
html
  head
    title= `${title} |`
    link(rel='stylesheet', href='/dist/style.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    block header
    block messages
    
    .content
      block content
        p Hello World!
        
    block scripts
      script(src='/dist/App.bundle.js')
