extends layout

block content
  .container
    .columns.is-vcentered
      .column.is-4.is-offset-4
        br
        .box
          h2.title Login
          nav.level
          form.form(action='/login' method='POST')
            label.label(for='email') Email Address
            p.control
              input.input(type='email' name='email')
            label.label(for='password') Password
            p.control
              input.input(type='password' name='password')
            hr
            input.button(type='submit' value='Log In →')
          a(href='/signup')
            button.button Sign Up  
        br
