extends layout

block content
  .container
    .columns.is-vcentered
      .column.is-4.is-offset-4
        br
        .box
          h2.title.has-text-centered Sign up
          form.form(action='/signup' method='POST')
            label.label(for='name') Name
            p.control
              input.input(type='text' name='name')
            label.label(for='email') Email 
            p.control
              input.input(type='email' name='email')
            label.label(for='password') Password
            p.control
              input.input(type='password' name='password')
            hr
            input.button(type='submit' value='Sign Up')
          a(href='/login')
            button.button Login
        br
