extends layout

block content
  .container
    br
    form.form(action='/updateuser', method='POST')
      h2.title Update Profile
      label.label(for='city') City
      input.input(type='text' name='city')
      label.label(for='state') State
      input.input(type='text' name='state')
      input.button(type='submit' value='Save Changes')
    br
      
    form.form(action='/updatepass', method='POST')
      h2.title Change Password
      label.label(for='oldpass') Current Password 
      input.input(type='password' name='oldpass')
      label.label(for='newpass') New Password
      input.input(type='password' name='newpass')
      input.button(type='submit' value='Save Changes')
    br
